* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: 'Roboto Slab', serif;
  box-sizing: border-box; }

/*Estilo de la barra de navegacion*/
/*MOVILE FIRST*/
body {
  display: block;
  background: linear-gradient(#ffffff, #f3a3d3);
  background-image: url(../img/fondoBody.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

nav {
  display: flex;
  flex-direction: column; }
  nav .Navegacion {
    display: flex;
    align-items: center; }
  nav .logo img {
    height: 140px;
    width: 220px;
    border-radius: 25%; }
  nav .menuNavegacion {
    /* CSS PARA LA BARRA DE NAVEGACION */
    font-size: 1.3rem;
    text-align: left;
    width: 100%; }
    nav .menuNavegacion a {
      display: block;
      text-decoration: none;
      color: black;
      padding: 2px;
      transition: 0.3s; }
  nav ul {
    padding: 0px;
    /* padding 0 es para corregir el q da bootstrap*/ }
    nav ul li {
      margin: 2px; }
  nav .menuNavegacion a:hover {
    background-color: #ccc;
    color: #f3a3d3; }

/* CSS DEL VIDEO*/
.video-celu {
  padding: 5px;
  position: relative; }
  .video-celu #miVideo {
    width: 97vw;
    /*descubri que cuando se le borra una de las propiedades de alto o ancho el video se vuelve mas responsive porque la propiedad min-whidith o min-haigth tiene menos resticciones pero si se borran las dos propiedades de alto y ancho se rompe el codigo*/
    min-height: 100%;
    border: solid 3px violet;
    margin: 0px; }

/* BANNER*/
.baner {
  position: absolute;
  text-align: center;
  bottom: 20px;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 97vw;
  padding: 20px;
  font-size: x-large; }

/* CSS DEL CONTENIDO*/
.aqueNosDedicamos {
  padding: 5px; }

.queHacemos {
  text-align: center; }

.aqueNosDedicamos p {
  text-align: justify;
  padding: 3px; }

.redesSociales {
  display: block;
  text-align: center;
  gap: 10px; }
  .redesSociales a img {
    margin: 1.3rem;
    width: 50px;
    height: 50px; }

footer {
  text-align: center; }

/* CSS PARA PRODUCTOS.HTML*/
.producto {
  display: inline-block;
  padding: 5px;
  box-sizing: border-box;
  position: relative; }

.img_producto {
  width: 400px;
  min-height: 100%;
  min-width: 100%; }

.img_producto img {
  object-fit: cover;
  width: 100%;
  height: 100%; }

.txt_Producto {
  position: relative;
  text-align: center;
  bottom: 15rem;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  font-size: large;
  border-bottom: 3px solid #f3a3d3; }

.targeta1 {
  margin: 5px; }
  .targeta1 img {
    border-radius: 3%; }

.targeta2 {
  margin: 5px; }
  .targeta2 img {
    border-radius: 3%; }

.targeta3 {
  margin: 5px; }
  .targeta3 img {
    border-radius: 3%; }

/*CSS PARA PAGINA SOBRE_NOSOTROS.HTML*/
h1 {
  text-align: center; }

.txt_Nosotros {
  text-align: justify;
  padding: 0 15px 0 15px; }

.img_producto, .bookfotos {
  margin: 10px; }

.img_Nosotros img {
  width: 100%; }

/*galeria.html*/
.bookfotos img {
  width: 95vw; }

.foto2 img {
  border: 2px solid #f3a3d3; }

/*contacto.html*/
iframe {
  left: 0;
  top: 0;
  height: 99vw;
  width: 95%;
  position: relative;
  padding-left: 10px;
  margin-top: 10px; }

/* FIN DE MOVILE FIRST*/
/* animacion para iconos de redes sociales*/
.redesSociales a {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s; }

.redesSociales a:hover, .redesSociales a:focus, .redesSociales a:active {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36); }

/* estilos para bootstrap*/
.mio a {
  color: inherit;
  text-transform: uppercase;
  transition: all 0.5s;
  text-align: center;
  background-image: linear-gradient(#d5eb13, #db0707), linear-gradient(transparent, transparent);
  background-size: 0 2px, auto;
  background-repeat: no-repeat;
  background-position: bottom;
  transition: all 0.2s ease-out; }

.mio a:hover {
  color: #f3a3d3;
  opacity: 0.6;
  background-size: 100% 2px, auto; }

.fondo-nav {
  background-image: url(../img/fondoNav.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.logoP {
  border-radius: 35%;
  margin-right: 10px; }

@media only screen and (min-width: 768px) {
  /*media para index*/
  .video-celu #miVideo {
    border: none;
    padding: 10px; }
  .baner {
    font-size: x-large;
    position: static;
    color: black;
    background: none; }
  .redesSociales a img {
    margin-left: 5rem;
    width: 70px;
    height: 70px; }
  .aqueNosDedicamos p {
    padding-left: 18px;
    padding-top: 20px; }
  /*MEDIA PARA PRODUCTOS*/
  .img_producto img {
    width: 100%;
    padding: 10px;
    border: none; }
  .nosotros {
    padding: 10px; }
  .targeta1 {
    margin: 20px; }
  .targeta2 {
    margin: 20px; }
  .targeta3 {
    margin: 20px; }
    .targeta3 img {
      height: 73vw; }
  .img_Nosotros {
    width: 80%;
    margin: auto; }
  /*CONTACTO*/
  iframe {
    height: 85vw;
    margin-left: 10px; } }

/*fin de media querie 768px*/
@media only screen and (min-width: 1000px) {
  .video-celu #miVideo {
    width: 94vw;
    margin-left: 2.5rem; }
  .img_producto img {
    width: 100%; }
  .txt_Producto {
    text-align: justify; }
  .txt_Producto p {
    padding-bottom: 4rem; }
  .nosotros {
    align-items: start; }
  /*nosotros*/
  .img_Nosotros {
    text-align: center;
    padding-top: 10px; }
    .img_Nosotros img {
      width: 80%; }
  .txt_Nosotros {
    padding-top: 10px; }
  .galeria {
    display: grid;
    grid-template-columns: 1fr 0.8fr 1fr;
    grid-template-rows: 80px 1fr min-content;
    grid-template-areas: "titulo titulo titulo" "foto1 foto2 foto3"      "fondo fondo fondo";
    row-gap: 5px;
    column-gap: 5px;
    margin-left: 5px; }
  .galeria div img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .titulo {
    grid-area: titulo;
    padding-top: 10px; }
  .foto1 {
    grid-area: foto1; }
  .foto2 {
    grid-area: foto2;
    border: solid 1px violet; }
  .foto3 {
    grid-area: foto3; }
  .fondo {
    grid-area: fondo; }
  .contacto-Mapa {
    text-align: center;
    margin-top: 20px; }
  .datos {
    text-align: start;
    width: 100%; } }
